<div class="header">
    <div class="logo">
        <a routerLink="/home">
            <img src="/midia/utils/goldWitheLogo 1.svg" alt="" />
        </a>
    </div>
    <div class="search-box">
        <input type="text" id="search-input" placeholder="Marcas, produtos e mais">
        <button id="search-button">pesquisar</button>
      </div> 
    <ul class="top-page-links">
        <div class="icon-container">
            <a routerLink="/home/conta">
              <img src="path/to/conta-icon.png" alt="Conta icon" />
            </a>
          </div>
          <div class="icon-container">
            <a routerLink="/home/pedidos">
              <img src="path/to/pedidos-icon.png" alt="Pedidos icon" />
            </a>
          </div>
          <div class="icon-container">
            <a routerLink="/home/carrinho">
              <img src="path/to/carrinho-icon.png" alt="Carrinho icon" />
            </a>
          </div>              
    </ul>
</div>
