<div class="top-nav-bar">
  <div class="logo">
    <a routerLink="/home"></a>
    <img src="/assets/utils/goldWitheLogo.svg" alt="RAP Liquors">
  </div>
  <div class="nav-icons">
    <div class="nav-icon">
      <a routerLink="/home/conta">
      <img src="/assets/icons/profile.svg" alt="Conta">
      </a>
      <span>Conta</span>
    </div>
    <div class="nav-icon">
      <a routerLink="/home/pedidos">
      <img src="/assets/icons/orders.svg" alt="Pedidos">
      </a>
      <span>Pedidos</span>
    </div>
    <div class="nav-icon">
      <a routerLink="/home/carrinho">
      <img src="/assets/icons/cart.svg" alt="Carinho">
      </a>
      <span>Carinho</span>
    </div>
  </div>
</div>
