<!-- app.component.html -->
<div class="header">
    <div class="logo">
        <a routerLink="/home">
            <img src="" alt="Logo" />
        </a>
    </div>
    <div class="search-box">
        <input type="text" id="search-input" placeholder="Marcas, produtos e mais">
        <button id="search-button">pesquisar</button>
    </div>    
    <ul class="top-page-links">
        <li>
            <a routerLink="/home/conta">
                <img src="" alt="Conta icon" />
            </a>
        </li>
        <li>
            <a routerLink="/home/pedidos">
                <img src="" alt="Pedidos icon" />
            </a>
        </li>
        <li>
            <a routerLink="/home/carrinho">
                <img src="" alt="Carrinho icon" />
            </a>
        </li>
    </ul>
</div>
