/* styles.css (ou seu arquivo de estilos) */
.header {
    background-color: #73031D;
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 100%;
    width: 136px;
    height: 124px;
    top: 24px;
    left: 36px;
    gap: 0px;
    opacity: 100px;
}

.top-page-label {
    font-size: 18px;
    margin-left: 20px;
}

.top-page-links {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.icon-container {
    display: flex;
    align-items: center;
  }
  
  .divider {
    width: 1px;
    height: 50px;
    background-color: #ccc;
    margin: 0 20px;
  }

.search-box {
    display: flex;
    align-items: center;
}

#search-input {
    width: 860px;
    height: 55px;
    top: 43px;
    left: 185px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    flex: 1;
    margin-right: 10px;
}

#search-button {
    display: flex;
    align-items: center;
    color: #B8B8B8;
    width: 25px;
    height: 27px;
    top: 59px;
    left: 991px;
    gap: 0px;
    opacity: 0px;

}
