<div class="nav-bar">
  <div class="divider"></div>
  <div class="nav-item" id="whisky" (click)="ItensComponent.filterItens('whisky')">
    <img src="/assets/icons/whisky.svg" alt="Whiskeys">
    <span>Whiskeys</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item" id="cerveja" (click)="ItensComponent.filterItens('cerveja')">
    <img src="/assets/icons/beer.svg" alt="Cervejas">
    <span>Cervejas</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item" id="rum" (click)="ItensComponent.filterItens('rum')">
    <img src="/assets/icons/rum.svg" alt="Rum">
    <span>Rum</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item" id="vinho" (click)="ItensComponent.filterItens('vinho')">
    <img src="/assets/icons/wine.svg" alt="Vinhos">
    <span>Vinhos</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item" id="gin" (click)="ItensComponent.filterItens('gin')">
    <img src="/assets/icons/gin.svg" alt="Gin">
    <span>Gin</span>
  </div>
  <div class="divider"></div>
</div>

<app-itens #ItensComponent></app-itens>