 <div class="populares-container">
    <h2 class="populares-title">Mais Populares</h2>
    <div class="carousel">
        <div class="item">
            <span class="item-name">Item 1</span>
            <div class="quantity-controls">
              <button (click)="decrementarQuantidade(1)">-</button>
              <input type="number" [(ngModel)]="quantidadeItem1" />
              <button (click)="incrementarQuantidade(1)">+</button>
            </div>
            <button class="btn" (click)="adicionarItem(1)">Adicionar</button>
        </div>
        <div class="item">
            <span class="item-name">Item 2</span>
            <div class="quantity-controls">
              <button (click)="decrementarQuantidade(1)">-</button>
              <input type="number" [(ngModel)]="quantidadeItem2" />
              <button (click)="incrementarQuantidade(1)">+</button>
            </div>
            <button class="btn" (click)="adicionarItem(1)">Adicionar</button>
        </div>
        <div class="item">
            <span class="item-name">Item 3</span>
            <div class="quantity-controls">
              <button (click)="decrementarQuantidade(1)">-</button>
              <input type="number" [(ngModel)]="quantidadeItem3" />
              <button (click)="incrementarQuantidade(1)">+</button>
            </div>
            <button class="btn" (click)="adicionarItem(1)">Adicionar</button>
        </div>
        <div class="item">
            <span class="item-name">Item 4</span>
            <div class="quantity-controls">
              <button (click)="decrementarQuantidade(1)">-</button>
              <input type="number" [(ngModel)]="quantidadeItem4" />
              <button (click)="incrementarQuantidade(1)">+</button>
            </div>
            <button class="btn" (click)="adicionarItem(1)">Adicionar</button>
        </div>
        <div class="item">
            <span class="item-name">Item 5</span>
            <div class="quantity-controls">
              <button (click)="decrementarQuantidade(1)">-</button>
              <input type="number" [(ngModel)]="quantidadeItem5" />
              <button (click)="incrementarQuantidade(1)">+</button>
            </div>
            <button class="btn" (click)="adicionarItem(1)">Adicionar</button>
        </div>
    </div>
  </div>