<section class="popular-items-container">
  <div class="row justify-content-center">
    <div class="col-md-3 vinho">
      <div class="product-card">
        <img src="/assets/img/JackHoney.svg" alt="Jack Daniel's Honey">
        <div class="product-info">
          <h5>VINHO</h5>
          <p>R$ 128,70</p>
          <div class="add-to-cart">
            <input type="number" min="1" value="1" [(ngModel)]="quantities[0]">
            <button (click)="addToCart('Licor Jack Daniel\'s Honey 1000ml', 128.70, quantities[0])">Adicionar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
