<div class="nav-bar">
  <div class="nav-item">
    <img src="/assets/icons/promo.svg" alt="Promoções">
    <span>Promoções</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item">
    <img src="/assets/icons/whisky.svg" alt="Whiskeys">
    <span>Whiskeys</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item">
    <img src="/assets/icons/beer.svg" alt="Cervejas">
    <span>Cervejas</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item">
    <img src="/assets/icons/rum.svg" alt="Rum">
    <span>Rum</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item">
    <img src="/assets/icons/wine.svg" alt="Vinhos">
    <span>Vinhos</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item">
    <img src="/assets/icons/gin.svg" alt="Gin">
    <span>Gin</span>
  </div>
  <div class="divider"></div>
  <div class="nav-item">
    <img src="/assets/icons/brands.svg" alt="Marcas">
    <span>Marcas</span>
  </div>
</div>

<app-populares></app-populares>