.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7a0e21;
}

.login-box {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo img {
  width: 50px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #3a0e1b;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signup-link {
  margin-top: 1rem;
}

.signup-link a {
  color: #3a0e1b;
  text-decoration: none;
}

.text-danger {
  color: red;
  font-size: 0.875rem;
  margin-top: -0.75rem;
  margin-bottom: 1rem;
  text-align: left;
}