<div class="lower-page-container">
        <div class="icon-container">
        <img src="/assets/icons/card.svg" alt="Ícone 1" />
        <p class="icon-text">Diversas formas de pagamento imediato e a prazo</p>
        </div>
        <div class="divider"></div>
        <div class="icon-container">
        <img src="/assets/icons/truck.svg" alt="Ícone 2" />
        <p class="icon-text">Frete grátis a partir de R$2.999</p>
        </div>
        <div class="divider"></div>
        <div class="icon-container">
        <img src="/assets/icons/shield.svg " alt="Ícone 3" />
        <p class="icon-text">Rápido e seguro do início ao fim</p>
        </div>
</div>

<div class="lower-page-container">
        <div class="">
        <p class="text">Atendimento</p>
        <div>
            <p class="text2"> faleconosco.com.br</p>
            <p class="text2">De segunda a sexta-feira das 8h00 às 17h30 e sábado das 08h00 às 12h00.</p>
        </div>
        </div>
        <div class="divider"></div>
        <div class="">
        <p class="text">Institucional</p>
        <div>
            <div class="">
                <p class="text2">Sobre a empresa
                    Garantia</p>
                </div>
                <div class="text2">
                <p class="">Formas de pagamento
                    Serviços de entrega</p>
                </div>
                <div class="text2">
                <p class="">Política de privacidade
                    Termos e condições</p>
                </div>
        </div>
        </div>
</div>

