<div class="top-nav-bar">
  <div class="logo">
    <a routerLink="/home">
    <img src="/assets/utils/goldWitheLogo.svg" alt="RAP Liquors">
    </a>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Marcas, produtos e mais...">
    <button>
      <img src="assets/icons/searchIcon.svg" alt="Search">
    </button>
  </div>
  <div class="nav-icons">
    <div class="nav-icon">
      <a routerLink="/home/conta">
      <img src="/assets/icons/profile.svg" alt="Conta">
      </a>
      <span>Conta</span>
    </div>
    <div class="nav-icon">
      <a routerLink="/home/pedidos">
      <img src="/assets/icons/orders.svg" alt="Pedidos">
      </a>
      <span>Pedidos</span>
    </div>
    <div class="nav-icon">
      <a routerLink="/home/carrinho">
      <img src="/assets/icons/cart.svg" alt="Carinho">
      </a>
      <span>Carinho</span>
    </div>
  </div>
</div>
